<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.brightroom.example.provider.database.GateManagementMapper">

  <select id="findEnabledByGateId" parameterType="string" resultType="java.lang.Boolean">
    SELECT enabled
    FROM gate_management
    WHERE gate_id = #{gateId}
  </select>

</mapper>
